@import url('https://fonts.googleapis.com/css?family=Lato|Supermercado+One');
body {font-family: 'Lato', sans-serif;background-image:url('img/map-bg.jpg'); font-size: 18px;}

nav {font-family: sans-serif; font-size: 10px;}

#main {width: 900px; margin: 10px auto;}

h1{font-family: 'Supermercado One', cursive; color:#5d4037;font-size: 45px;}

#menu {columns: 400px 2; column-gap: 100px; column-rule: 2px dashed rosybrown;}
section {margin-bottom: 50px;}

h2 {margin: 0;font-variant: small-caps; color:#6d4c41;}

dt {font-weight: bold;font-size:20px;}

dd {margin: 0 0 12px 0; display: flex;}

.details {order: 1;}

.price {order: 2; padding-left: 10px;font-size: large; color:firebrick;}

address {padding: 10px; border: dashed 2px rosybrown;}
